/* MEDIA QUERY FOR LARGE TABLETS AND SMALLER LAPTOPS */
@media screen and (min-width: 768px) and (max-width: 1435px) {
    * {
        background-color: var(--blue-dianne);
      }
    .outer-outer-wrapper{
    max-width: 768px;
    }

    .top-wrapper{
          justify-content: flex-start;
    }

    .nav-wrapper {
        min-width: 50%;
    }

    nav ul li a{
        font-size: xx-large;
    }

    .main-content{
        justify-content: center;
        margin:auto;
        order: 10;
    }

    .detail-content{
        width: 665px;
        margin: 0;
        order: 5;
    }

    footer h3{
        text-align: left;
    }

    .contact-info a{
        text-align: left;
    }
}