:root {

    /* Pallet Colors - Blender 3 */
    --silver-sand: #bbbdbe;
    --java: #1ec8c8;
    --bunker: #070b0e;
    --corduroy: #585a5a;
    --blue-dianne: #215953;
    --outer-space: #2b2c2c;
    --calypso: #307888;
    --lochinvar: #278678;
    --big-stone: #193a48;
    --goblin: #41864b;
    --black: #000000;
    --iron: #e1e5e5;
    --black-pearl: #08202b;
    --atoll: #0d7265;
    --turquoise: #27d7dd;
    --robins-egg-blue: #0ac4c7;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--outer-space);
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }

.top-outer-wrapper{
    border: 1px var(--atoll) solid;
    margin-bottom: 4px;
    }  

.top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px var(--java) solid;
    padding: 0;
}

.logo-wrapper{
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    order:1;
    border-top: 2px var(--java) solid;
}

.nav-wrapper {
    justify-content: flex-end;
    color: var(--calypso);
    display: flex;
    order:5;
    min-width: 50%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

nav ul li a {
    padding: 10px 15px;
    list-style: none;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--lochinvar);
    text-shadow: 0 0 10px rgba(170, 34, 34, 0.5);
  }
  
nav ul li a:hover {
    color: var(--iron);
    border-radius: 15px;
    text-shadow: none;
  }
  

.middle-outer-wrapper{
    border: 1px var(--atoll) solid;
    margin-bottom: 4px;
    } 

.middle-wrapper{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    border: 1px var(--java) solid;
    align-items: flex-start;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order:10;
    transform: rotate(-180deg);
    justify-content: flex-start;
    align-content: center;
    writing-mode: vertical-lr;
    width:100px;
    
}

header {
margin: 20px 20px 20px 20px;
}

header h2{
    text-decoration: underline dotted;
    text-decoration-style: var(--corduroy);
}

.main-content {
    display: flex;
    flex-wrap: no-wrap;
    order:20;
    border-left: 1px var(--atoll) solid;
    
}

.menu-card-title {
    display:flex;
    flex-wrap: wrap;
    min-width: 40%;
    border: 1px var(--java) solid;
}

footer {
    display:flex;
    flex-wrap: wrap;
    order:100;
    border: 1px red solid;
}